RewriteEngine On
RewriteBase /

# Redirect all requests to index.php except for existing files/directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Allow direct access to JS and CSS files
RewriteRule \.(css|js|jpe?g|png|gif|ico)$ - [L] 